body {
    font-family: Arial, sans-serif;
    background: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: white;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.1);
    text-align: center;
    width: 400px;
}

input[type="text"] {
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    border: 2px solid #ddd;
    border-radius: 6px;
    font-size: 16px;
}

button {
    margin-top: 20px;
    padding: 12px 30px;
    background: #0077cc;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: #005fa3;
}

#resultBox {
    margin-top: 30px;
    font-weight: bold;
}

/* Loader spinner */
#loader {
    margin: 20px auto;
    border: 6px solid #f3f3f3;
    border-top: 6px solid #0077cc;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    animation: spin 1s linear infinite;
}

.hidden {
    display: none;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#terminal {
    background: #000;
    color: #0f0;
    padding: 20px;
    margin-top: 20px;
    border-radius: 8px;
    text-align: left;
    height: 200px;
    overflow-y: auto;
    font-family: monospace;
}
textarea#queryInput {
    width: 100%;
    height: 100px; /* ajuste la hauteur comme tu veux */
    padding: 10px;
    font-size: 1rem;
}
